/* Navigation bar */
#navbar{
    flex-direction: column;
}
#logo img{
    margin-bottom: 4px;
}
#navbar ul li a{
    font-size: 1rem;
    margin-bottom:7px;
    padding: 3px 17px;
}
/* Home section */
#home{
    height: 421px;
    padding: 3px 10px;
}
#home::before{
    height: 510px;
}
#home h1{
    text-shadow: 1px 1px 0.8px black;
}
#home p{
    font-size: 0.85rem;
    text-shadow: 1px 1px 0.5px black;
}

/* Service section */
#services{
    flex-direction: column;
    margin: 5px;
}
#services .box img {
    height: 100px;
} 
#services .box p {
    font-size: 0.9rem;
}

/* Client section */
#clients{
    flex-wrap: wrap;
}

/* Contact us */
#contact-box form{
    width: 80%;
}
#contact-box label {
    font-size: 1rem;
}
#contact-box input {
    padidng:0.35rem;
    font-size: 0.85rem;
}

/* Utility classes */
.h-primary{
    font-size: 2rem;
}
.btn{
    padding: 4px 13px;
    font-size: 0.75rem;
}